/* custom propaty */
:root{
    /* colors */
    --main-bg: #f0eed1;
    --section-bg: #d7b666;
    --black: #272727;
    --red: #ad4142;
    --white: #ffffff;
    /* fonts */
    --head: 'League Spartan', sans-serif;
    --para: 'Poppins', sans-serif;
}


/* General styling (screen size, font, line-height) */
*{
    line-height: 1.3rem;
}

body{
    background-color: var(--main-bg); 
    display: block;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--main-bg);
}

h1{
    font-family: var(--head);
    font-size: 2.5rem;
}
h3{
    font-family: var(--head);
    font-size: 1.8rem;
}
p{
    font-family: var(--para);
    font-size: 14px;
}
/* button styling  */
button{
    width: 150px;
    height: 50px;
    background-color: var(--red);
    color: var(--white);
}
button:hover{
    background-color: var(--black);
}


/* header styling with flexbox > 100% width */
.header{
    background-color: var(--black);
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}
.nav{
    margin-left: auto;
}
ul{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-left: auto;
    display: flex;
}
.nav ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--section-bg);
}
    /* animation for navigations */
.nav ul li:hover{
    animation-name: move;
    animation-duration: 0.5s;
}
@keyframes move {
    0%, 100%{
        transform: translate(0,0);
    }
    25%{
        transform: translateX(10px);
    }
    75%{
        transform: translate(-10px);
    }
}

.h-logo{
    margin-left: 20px;
}

/* footer styling with flexbox > 100% width */
footer{
    background-color: var(--black);
    width: 100%;
    height: 150px;
}
.footer{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
}
.icons{
    margin-left: auto;
    margin-right: 20px;
    color: var(--white);
    font-size: 40px;
}
.copyright{
    color: var(--white);
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* HOME Page styling > width 80% */
    /* intro section */
.mainimage img{
    width: 80%;
}
.mainimage{
    text-align: center;
}
.intro-comment{
    background-image: url(/images/rectangle.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 80%;
    margin: auto;
    text-align: center;
}
h1 {
    padding-top: 20px;
}
.intro-comment p{
    padding-left: 20px;
    padding-right: 20px;
}
.contact a{
    font-family: var(--para);
    text-decoration: none;
    color: var(--black);
    border-bottom: solid 2px var(--red);
}
.contact i{
    color: var(--red);
}
/* contact link's animation */
.contact a:hover{
    border: solid 2px var(--red);
}

    /* ad-video section */
.advideo{
    margin-top: 50px;
}
.videoimage {
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto 10px auto;
    background-color: var(--red);
    filter: opacity(70%);
    position: relative;
}
.videoimage:hover{
    filter: none;
}
.videoimage i{
    font-size: 60px;
    color: #cd2326;
    position: absolute;
    left: 45%;
    top: 38%;
}
/* animation for the video play button */
.videoimage i:hover{
    transition: 0.2s;
    transform: translateX(15px);
}
.videoimage i:active{
    transition: 0.1s;
    transform: scale(0.8);
}
.advideo p{
    text-align: center;
    width: 60%;
    margin: auto;
}
/* service announcement section styling with flexbox > width 80% */
.announce{
    background-color: var(--section-bg);
    box-shadow: 8px 8px;
    width: 80%;
    margin: 50px auto auto auto;
}
.announce h3{
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.saa p, .sab p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.sadate{
    text-align: right;
    padding-right: 30px;
}
.sadate p{
    font-style: italic;
    font-weight: lighter;
    font-size: 0.8rem;
}
.flexforbutton{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* gallery section styling with grid */
.gallery{
    width: 80%;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gallery img{
    width: 95%;
    padding: 10px;
}
.gallery h3{
    text-align: center;
    padding: 20%;
}

.gallery button{
    margin: 20%
}

/* About Us page styling > width 80% */
.background{
    width: 80%;
    margin: auto auto 90px auto;
    text-align: center;
}
blockquote{
    font-family: var(--para);
    padding-top: 15%;
}
.mission-img, .vision-img{
    padding-left: 50px;
    padding-bottom: 30px;
}
    /* mission statement section > adds bg-color */
.mission{
    background-color: var(--section-bg);
    box-shadow: 8px 8px;
    width: 99%;
    margin: auto;
}
.mission h3{
    padding-left: 40px;
    padding-top: 40px;
}
.flex-about{
    display: flex;
    flex-direction: row;
}
    /* vision statement section */
.vision h3{
    margin-top: 60px;
    text-align: right;
    padding-right: 30px;
}
.vision-img{
    padding-right: 30px;
}

/* Contact Page */
/* contact form section > styling with grid */
.contactform{
    width: 80%;
    margin: auto;
}
.contactform h1{
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
}
form label{
    font-family: var(--para);
    font-size: 0.8rem;
}
label, input{
    margin: 10px;
}
form label::after{
    content: "*";
    color: var(--red);
}
/* sns section adds bg color */
.sns{
    background-color: var(--black);
}
.white{
    text-align: center;
    color: var(--white);
    padding-top: 15px;
    padding-bottom: 15px;
}
    /* ions layout > styling with grid */
.snsicons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.snsicons i{
    color: var(--white);
    font-size: 60px;
    margin: 0px 30px 0px 30px;
}
.snsicons i:hover{
    color: var(--section-bg);
}
.snsicons i:active{
    transition: 0.1s;
    transform: scale(0.9);
}
/* shop information section > width 80% */
.shopinfo{
    width: 80%;
    margin: 80px auto auto auto
}
.shopinfo h3{
    text-align: center;
}
.shopinfo-flex{
    display: flex;
    flex-direction: column;
}
.shop iframe{
    width: 90%;
    margin: auto;
}
iframe{
    height: 230px;
    margin-top: 40px;
}
dl{
    width: 80%;
    display: grid;
    grid-template-columns:  0.6fr 1.4fr;
    margin: 30px auto;
}
dt, dd{
    font-family: var(--para);
    padding-bottom: 15px;
}
dt{
    margin-left: auto;
}