/* styling for the mobile version */
/* General styling (screen size, font, line-height) */

*{
    line-height: 1.3rem;
}

body{
    background-color: #f0eed1; 
    display: block;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0eed1;
}

h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem;
}
h3{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5rem;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}


/* header styling with flexbox and using animation to design humburger menue */
.header{
    background-color: #272727;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}
.nav{
    margin-left: auto;
}
ul{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-left: auto;
    display: flex;
}
.nav ul li{
    margin-right: 20px;
}
.logo{
    margin-left: 20px;
}