/* custom propaty */
:root{
    /* colors */
    --main-bg: #f0eed1;
    --section-bg: #d7b666;
    --black: #272727;
    --red: #ad4142;
    --white: #ffffff;
    /* fonts */
    --head: 'League Spartan', sans-serif;
    --para: 'Poppins', sans-serif;
}


/* General styling (screen size, font, line-height) */
*{
    line-height: 1.3rem;
}

body{
    background-color: var(--main-bg); 
    display: block;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--main-bg);
}

h1{
    font-family: var(--head);
    font-size: 2.5rem;
}
h3{
    font-family: var(--head);
    font-size: 1.8rem;
}
p{
    font-family: var(--para);
    font-size: 14px;
}
/* button styling  */
button{
    width: 150px;
    height: 50px;
}


/* header styling with flexbox > 100% width */
.header{
    background-color: var(--black);
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}
.nav{
    margin-left: auto;
}
ul{
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-left: auto;
    display: flex;
}
.nav ul li a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--section-bg);
}
    /* animation for navigations */
/* .nav ul li a:hover{
    color: #ad4142;
} */
.h-logo{
    margin-left: 20px;
}

/* footer styling with flexbox > 100% width */
footer{
    background-color: var(--black);
    width: 100%;
    height: 150px;
}
.footer{
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 20px;
    margin-top: 20px;
}
.icons{
    margin-left: auto;
    margin-right: 20px;
    color: var(--white);
    font-size: 40px;
}
.copyright{
    color: var(--white);
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* HOME Page styling > width 80% */
    /* intro section */
.mainimage img{
    width: 80%;
}
.mainimage{
    text-align: center;
}
.intro-comment{
    background-image: url(/images/rectangle.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 80%;
    margin: auto;
    text-align: center;
}
h1 {
    padding-top: 20px;
}
.intro-comment p{
    padding-left: 20px;
    padding-right: 20px;
}
.contact a{
    font-family: var(--para);
    text-decoration: none;
    color: var(--black);
    border-bottom: solid 2px var(--red);
}
.contact i{
    color: var(--red);
}
    /* ad-video section */
.advideo{
    margin-top: 50px;
}
.videoimage {
    text-align: center;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto 10px auto;
    background-color: var(--red);
    filter: opacity(70%);
    position: relative;
}
.videoimage:hover{
    filter: none;
}
.videoimage i{
    font-size: 60px;
    color: #cd2326;
    position: absolute;
    left: 45%;
    top: 38%;
}
        /* animation for the video play button */
.advideo p{
    text-align: center;
    width: 60%;
    margin: auto;
}
/* service announcement section styling with flexbox > width 80% */
.announce{
    background-color: var(--section-bg);
    box-shadow: 8px 8px;
    width: 80%;
    margin: 50px auto auto auto;
}
.announce h3{
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.saa p, .sab p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.sadate{
    text-align: right;
    padding-right: 30px;
}
.sadate p{
    font-style: italic;
    font-weight: lighter;
    font-size: 0.8rem;
}
.flexforbutton{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 30px;
}

/* gallery section styling with grid */
.gallery{
    width: 80%;
    margin: 50px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gallery img{
    width: 95%;
    padding: 10px;
}
.gallery h3{
    text-align: center;
    padding: 20%;
}

.gallery button{
    margin: 20%
}